.countdown-card {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 0;
    width: 300px;
    height: 256px;
}

.countdown-main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    transition: opacity 100ms ease;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.countdown-main.fade {
    opacity: 0;
}

.countdown-label {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.countdown-mid {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background: #fffffdCC;
    text-align: center;
    padding: 16px;
}

.countdown-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.countdown-value {
    font-size: 72px;
    font-weight: 800;
    color: #000000;
    line-height: 1;
}

.countdown-unit {
    font-size: 22px;
    color: #555;
}

.countdown-top {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3787CC;
    padding: 0px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.countdown-bottom {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 12px;
    border-top: 4px dashed rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.countdown-date {
    font-size: 25px;
    font-weight: 700;
    color: #3a3a3a;
    text-align: center;
}